// Example of SASS implementation to generate some code in style.css
// Remove these rules and write your custom styles

//IE 11 Flex box
.ie11 {
  main {
    flex: 1 1 auto;
  }
}

.debug {
  border: $red solid 1px;
}

body * {
  box-sizing: border-box;
  font-family: $font-body;
}

*::selection {
    background-color: $blue;
    color: $white;
}

@media screen and (min-width: 768px) {
  .col-full {
    max-width: 83.5em;

    footer & {
      max-width: 66.5em;
    }
  }
}

.woocommerce-message {
  background-color: $gray-30 !important;
}

// End of Example of SASS implementation to generate some code in style.css

