$base-font-size: 16;

//Font family
$font-body: inherit;
$font-heading: inherit;

// Colors
// $blue: #01A1DD;
$blue: #1B7AAF;
$blue-dark: #79CFFF;
$gray-dark: #555555;
$gray-light: #ebebeb;
$gray-social-icons: #aac1d4;
$white: #fff;
$black: #000;
$green: #8dc63f;
$red: #ff0000;
$red-transparent: rgba($red, 0.5);
$transparent: rgba(0, 0, 0, 0);
$gray-30: rgba($gray-dark, 0.3);
