/// Function converting pixel values to rem values
/// @param {Number | List} $pixels - The pixel value to change (should not include units) ex. rem(20)
$base-font-size: 16; // this base-value can be changed in base/_variables.scss

@function rem($pixels) {
  $rem-list: ();

  @if (type-of($pixels) == list) {
    @each $val in $pixels {
      $rem-list: append($rem-list, rem($val));
    }

    @return $rem-list;
  }
  @return ($pixels / $base-font-size) * 1rem;
}